@use '../core/core';
@use '../core/vars';

.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "sidenav main";
  height: calc(100% + #{vars.$navbar-height});
}

.layout-header {
  grid-area: header;
  display: flex;
  flex-direction: column;
}

.layout-main {
  grid-area: main;
  flex: 1;
  min-width: 0;
}

.layout-sidenav {
  grid-area: sidenav;
}
